*
{
    font-family: "Arial", sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

body
{
    text-align: center;
    color: #000000;
    background: #000000;
    height: 100%;
    background-image: url('/lol/static/image/background/middle.jpg');
    background-repeat: repeat-y;
    background-position: center top;
}

h1
{
    font-size: 2.5em;
    margin: 0.8em 0 0.8em 0;
}

h2
{
    font-size: 2em;
    margin: 0.6em 0 0.6em 0;
}

h3
{
    font-size: 1.5em;
    margin: 1em 0 0.5em 0;
}

p
{
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 1em;
}

div.container
{
    margin: 0 auto;
    width: 1060px;
    text-align: left;
    padding: 0 70px 0 70px;
    margin-top: -100px;
}

a
{
    text-decoration: none;
    color: #3651f6;
}

a:active
{
    color: #db3549;
}

a:visited
{
    color: #3651f6;
}

a:hover
{
    color: #457e6f;
    text-decoration: underline;
}

table
{
    border-collapse: collapse;
}

th
{
    padding: 0 0.5em 0 0.5em;
}

td
{
    padding: 0 0.5em 0 0.5em;
    border: 1px solid black;
}

table.gameTable
{
    width: 100%;
}

table.pageLinks
{
    margin: 2em 0 2em 0;
    width: 100%;
}

table.pageLinks td
{
    border: 0;
    font-weight: bold;
}

td.previousPage
{
    padding-left: 2em;
}

td.nextPage
{
    padding-right: 2em;
    text-align: right;
}

li
{
    margin-left: 2em;
}

ul.playerStats
{
    margin-bottom: 1em;
}

td img
{
    margin: 2px 0 2px 0;
    vertical-align: middle;
}

img.backgroundTop
{
    vertical-align: bottom;
    position: relative;
    z-index: -1;
}

img.backgroundBottom
{
    margin-bottom: 2em;
    vertical-align: top;
}

table.championData
{
    margin-bottom: 2em;
}
