*
{
    font-family: "Arial", sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

body
{
    color: #ffffff;
    background: #000000;
}

h1
{
    font-size: 2.5em;
    margin: 0.8em 0 0.8em 0;
}

h2
{
    font-size: 2em;
    margin: 0.6em 0 0.6em 0;
}

h3
{
    font-size: 1.5em;
    margin: 1em 0 0.5em 0;
}

p
{
    margin: 0 auto;
    text-align: justify;
    margin: 0.4em 0 0.4em 0;
}

div.container
{
    margin: 0 auto;
    border: 1px solid #fff;
    width: 1200px;
    padding: 1em;
    text-align: left;
    margin-bottom: 4em;
}

div.center
{
    text-align: center;
}

a
{
    text-decoration: none;
    color: #3651f6;
}

a:active
{
    color: #db3549;
}

a:visited
{
    color: #3651f6;
}

a:hover
{
    color: #457e6f;
    text-decoration: underline;
}

table
{
    border-collapse: collapse;
}

th
{
    padding: 0 0.3em 0 0.3em;
}

td
{
    padding: 0 0.3em 0 0.3em;
    border: 1px solid white;
}

table.gameTable
{
    width: 100%;
}

table.pageLinks
{
    margin-top: 1em;
    width: 100%;
}

table.pageLinks td
{
    border: 0;
    font-weight: bold;
}

td.previousPage
{
    padding-left: 2em;
}

td.nextPage
{
    padding-right: 2em;
    text-align: right;
}

li
{
    margin-left: 2em;
}

ul.playerStats
{
    margin-bottom: 2em;
}